<section class="card">
<div class="card-title">
  <img src="/assets/img/preferences.png" draggable="false" alt="Preferences" width="32" height="32">
  <h2>Preferences</h2>
</div>
<form class="grid" id="pref-form" method="post" novalidate (ngSubmit)="save($event)" (keydown.enter)="save($event)">
  <label for="numberUfo">Number of UFOs: </label>
  <select id="numberUfo" [(ngModel)]="model.numberUfo" name="numberUfo">
    @for (n of [1,2,3,4,5]; track n) {
      <option [value]="n">{{ n }}</option>
    }
  </select>
  <label for="time">Time (seconds): </label>
  <select id="time" [(ngModel)]="model.time" name="time">
    @for(t of [60,120,180]; track t) {
      <option [value]="t">{{ t }}</option>
    }
  </select>
  <label for="sendResult">Send results</label>
  <select id="sendResult" [(ngModel)]="model.sendResult" name="sendResult">
  @for(s of [true,false]; track s) {
    <option [value]="s">{{ s }}</option>
  }
  </select>
  <button class="primary" type="submit">Go!</button>
</form>
</section>