<section>
  <div class="play-content" #playContent>
    <!-- Añadir los UFOs -->
     @for(u of ufos(); track u.id) {
      <img class="ufo" [src]="u.src" [style.left.px]="u.x" [style.bottom.px]="u.y"/>
     }
    <!-- Misil -->
    <img #missile class="missile" src="assets/img/missile.png"
         [style.bottom.px]="missileY()" [style.left.px]="missileX()"/>
    <!-- Marcador de puntos -->
    <div class="panel-points" #panelPoints>{{ score }}</div>
    <!-- Marcador de tiempo -->
    <div class="panel-time" #panelTime>{{ time }}</div>
    <!-- Panel para mostrar si se suman o se resta puntos tras acierto o fallo -->
    <div class="floating-layer">
      @for(s of floatingScores(); track s.id) {
      <div class="floating-score" [style.left.px]="s.x" [style.top.px]="s.y" [style.color]="s.color" [style.fontSize.px]="s.size">
        {{ s.value }}
      </div>
      }
    </div>
    <!-- Fin de juego -->
     @if(endGame) {
      <div class="game-over">
        <h2>Game Over</h2>
        <p><strong>The final score is: {{ score }}</strong></p>
        <p>{{ text1 }}</p>
        <p>{{ text2 }}</p>
      </div>
    }
  </div>
</section>