<section class="card">
  <div id="play-div">
    <!-- Contenido del juego -->
    <div id="play-content">
      <img id="missile" src="assets/img/missile.png" 
           style="left:300px; bottom:5px; height:70px; width:40px; z-index:10;"/>
      <div id="panelPoints">0</div>
      <div id="panelTime">0</div>
    </div>

    <!-- Game over que se activa cuando el cronómetro llegue a 0 -->
    <div id="play-game-over" style="display:none;">
      <h2>Game Over</h2>
    </div>
  </div>
</section>