/* You can add global styles to this file, and also import other style files */
:root {
  --panel: #111319;
  --text: #e5e7eb;
  --bg: #0b0c10;
  --brand: #4f46e5;
  --focus: #f59e0b;
  --radius: 12px;
  --content: 80%;
}

* { box-sizing: border-box; }

html, body { height: 100%; }

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font: 16px/1.5 system-ui, Segoe UI, Roboto, Arial, sans-serif;
}

.site-header,
.site-footer {
  background: var(--panel);
}
.site-footer {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  color: #9aa0a6;
}

input, select, button, textarea {
  font: inherit;
  padding: 0.6rem 0.7rem;
  border-radius: 0.6rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: #fff;
  color: #000;
}

button.primary {
  background: var(--brand);
  border: none;
  padding: .7rem 1rem;
  border-radius: var(--radius);
  color: white;
  cursor: pointer;
}

button.primary:hover {
  background: #3e3acb;
}

@keyframes floatUp {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-30px); opacity: 0; }
}

nav {
  max-width: var(--content);
  margin: 0 auto;
  padding: 1rem 1rem 1rem;
}

.app {
  max-width: var(--content);
  margin: 0 auto;
  padding: 1rem;
}

.card {
  background: var(--panel);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: var(--radius);
  padding: 1rem;
}

.card-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: var(--panel);
  border-radius: var(--radius);
}

.card-home-text {
  flex: 7;
}

.card-home-image {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-home-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: var(--radius);
}

.card-home-text { flex: 7; }

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.75rem;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.grid label {
  justify-self: end;
}
.grid button {
  grid-column: 1 / -1; /* hace que el botón ocupe todo el ancho */
  justify-self: center;
}