<section class="card">
<div class="card-title">
    <img src="/assets/img/home.png" alt="Home" width="32" height="32">
    <h2>Home</h2>
</div>
<div class="card-home">
    <div class="card-home-image">
    <img src="./assets/img/etsisi.png" alt="Escuela Técnica y Superior de Ingeniería de Sistemas Informáticos">
    </div>
    <div class="card-home-text">
    <p>Welcome to UFO Battle</p>
    <p>Use the menu to navigate through the different options:</p>
    <ul>
        <li><strong>Preferences</strong>: Enter the number of UFO and the time of the play. Once you click on "Go!" the play will be started.</li>
        <li><strong>Play</strong>: Uses Left and Right Arrows to move the rocket and use Space to Trigger it. Enjoy the play!</li>
        <li><strong>Records</strong>: A list of the 10 best plays will be showed up.</li>
        <li><strong>Register</strong>: Create your own account for UFO Battle. (Under construction, only form is available yet)</li>
        <li><strong>Log-in</strong>: Log in into your account. (Under construction, only token fetch and error handling are available yet)</li>
    </ul>
    </div>
</div>
</section>